<%- include('includes/head', { pageTitle: 'Error' }) %> 
</head>
<body>
<%- include('includes/header') %> 

<main>
  <h1>Algo deu errado!</h1>
  <p>Infelizmente estamos com problemas - tente novamente mais tarde.</p>
  <p class="button"><a href="/">Início</a></p>
</main>


<%- include('includes/footer') %>