<header>
  <nav class="navbar_container">
   <%- include('nav-items') %> 

  <button class="mobile-menu-btn">
    <span></span>
    <span></span>
    <span></span>
  </button>
  </nav>

</header>

<aside class="mobile-menu">
  <nav>
    <%- include('mobile-menu') %> 
  </nav>
</aside>