<header>
  <nav class="navbar_container">
    <div class="navbar_logo">
      <a class="" href="/">Fazenda Duas Pedras</a>
    </div>
    <div class="navbar_wrapper">
      <a href="">Sobre</a>
      <a href="">Comprar</a>
      <a href="">Receitas</a>
      <a href="">Contato</a>
      <a href="">Entrar</a>
      <a href="">Carrinho</a>
    </div>
  </nav>
</header>