/* ------------- Library ------------- */

:root {
	--black: #000;
	--white: #fff;
	--gray-dark: hsl(210, 10%, 23%);
	--gray-100: hsl(210, 17%, 98%);
	--gray-200: hsl(210, 16%, 93%);
	--gray-300: hsl(210, 14%, 89%);
	--gray-400: hsl(210, 14%, 83%);
	--gray-500: hsl(210, 11%, 71%);
	--gray-600: hsl(210, 7%, 46%);
	--gray-700: hsl(210, 9%, 31%);
	--gray-800: hsl(210, 10%, 23%);
	--gray-900: hsl(210, 11%, 15%);

	--primary-100: #eae7df;
	--primary-200: #c7c3a3;
	--primary-300: #e2cc95;
	--primary-500: #ba9d4c;
	--primary-800: rgb(150, 124, 53);

	--sucess: hsl(152, 69%, 31%);
	--error-100: hsl(354, 70%, 80%);
	--error-500: hsl(354, 70%, 54%);

	--link-color: #1567af;
	--link-hover-color: #0c408c;

	--border-radius-small: 4px;
	--border-radius-medium: 8px;
	--border-radius-large: 25px;

	--shadow-medium: 3px 3px 10px rgba(0, 0, 0, 0.15);
}

/* ------------- Global ------------- */

html {
	font-size: 62.5%;
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	flex-direction: column;
	height: 100vh;
	font-size: 1.6rem;
	line-height: 1.47059;
	letter-spacing: 0.022em;
	font-family: 'Montserrat', sans-serif;
	color: var(--gray-800);
	font-style: normal;
	background-color: #f4f4f3;
}

main {
	flex-grow: 1;
	max-width: 1080px;
	margin: 105px auto 0 auto;
	padding: 10px;


}

/* ------------- Normal Tags ------------- */

a {
	color: var(--primary-500);
	text-decoration: none;
}

a:hover {
	color: var(--primary-200);
} 

ul,
ol {
	list-style-type: none;
}

/* ------------- Buttons ------------- */

.button {
	font-size: 2rem;
	padding: 9px 20px;
	margin: 0.25rem;
	border: 0;
	font: inherit;
	cursor: pointer;
	color: var(--white);
	border-radius: var(--border-radius-large);
	background-color: var(--primary-500);
}

.button:hover {
	background-color: var(--primary-800);
}

/* ------------- Navbar ------------- */

header {
	position: absolute;
	top: 0;
	left: 0;
	height: 90px;
	width: 100%;
	background-color: transparent;
}

.navbar_container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: auto;
	height: 90px;
	max-width: 1080px;
	padding: 0 15px;
}

.navbar_container a {
	font-size: 20px;
	color: var(--gray-900);
	padding: 15px;
}

.navbar_wrapper {
	display: flex;
}

/* ------------- Hero ------------- */

.hero_wrapper {
	text-align: center;
	max-width: 500px;
	margin: 0 auto;
	position: relative;
	top: 200px;
}

.hero_wrapper p {
	margin: 10px 0 35px 0;
}

/* ------------- Footer ------------- */

footer {
	width: 100%;
	padding: 25px 0 20px 0;
	text-align: center;
	background-color: var(--gray-400);
}

footer nav {
	margin: 10px 0;
	font-size: 1.3rem;
}

footer p {
	font-size: 1.2rem;
	color: var(--gray-700);
}
